html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.home-content {
	display:none;
	margin:0px;
	padding:0px;
	height:100vh; 
  background: url("/assets/bg11.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //transition: all 1s;

}

body {
	margin:0px;
	width:100%;
	background-color: black;
}

.indicator {
	font-size: 50px;
	color:white;
}

p {
	font-family: 'Source Code Pro';
	font-weight: 400;
	font-size:12px;
	color: rgb(150,150,150);
}

.text-box {
	position: fixed;
	bottom: 0;
	color: white;
	width: 350px;
	left: calc(50% - 175px);
	padding-bottom: 20px;
}

.first-name {
	text-transform: uppercase;
	font-size: 45px;
	line-height: 40px;
	letter-spacing: 1px;
	margin-bottom: 0px;
}
.last-name {
	text-transform: uppercase;
	color: white;
	font-weight: 300;
	text-align: center;
	font-size: 35px;
	line-height: 35px;
	letter-spacing: -1px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.social-container-home {
	padding-left: 65px;
}

.social, .social-small {
	height: 40px;
	width: auto;
	margin:0px;
	opacity: .4;
	transition: .8s;
}

.social-small {
	height: 35px;
}

.social:hover, .social-small:hover {
	opacity: .7;
}


.big-link-text {
	font-family: "Source Code Pro";
	font-size: 80px;
	font-weight: 400;
}

.web-link, .photo-link {
	width: 30%;
	text-align: bottom;
	position: absolute;
	top: 0;
	color: white;
	//opacity: .8;
	padding-top: 15%;
}


.web-link {
	text-align:left;
	left: 5%;
}

.photo-link {
	text-align:right;
	right: 5%;
}

.side-link {
	width: 30%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
	cursor: pointer;
}

.web-side {
	left: 0;
	opacity: 0;
	transition: .5s;
}

.photo-side {
	right: 0;
	transition: .5s;
	opacity: 0;
}

.photo-side:hover {
	background: -webkit-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,1)); /* For Safari 5.1 to 6.200 */
    background: -o-linear-gradient(right, rgba(200,200,200,0), rgba(200,200,200,1)); /* For Opera 11.1 to 12.200 */
    background: -moz-linear-gradient(right, rgba(200,200,200,0), rgba(200,200,200,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(200,200,200,0), rgba(200,200,200,1)); /* Standard syntax (must be last) */
    opacity: .4;
}

.web-side:hover {
	background: -webkit-linear-gradient(left, rgba(250,250,250,1), rgba(250,250,250,0)); /* For Safari 5.1 to 6.250 */
    background: -o-linear-gradient(right, rgba(250,250,250,1), rgba(250,250,250,0)); /* For Opera 11.1 to 12.250 */
    background: -moz-linear-gradient(right, rgba(250,250,250,1), rgba(250,250,250,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(250,250,250,1), rgba(250,250,250,0)); /* Standard syntax (must be last) */
    opacity: .4;
}

.white {
	color: white !important;
	opacity: 1 !important;
	//transition: 1s;
}

.black {
	color: black;
}

/* Page Styles */

.page-head {
	width: 250px;
	
	margin-top:70px;
}

.underline {
	border-bottom: 4px solid rgb(150,150,150);
	width: 100%;
}

.photo-page, .web-page {
	display:none;
}


.back-button {
	width: 100%;
	height:50px;
	text-align: center;
	font-family: "Source Code Pro";
	font-size: 13px;
	margin-top: 10px;
	padding-top:15px;
	color: rgb(150,150,150);
	text-decoration: none;
	transition: all .3s;
}

.back-button:hover{
	background-color: rgb(150,150,150);
	color: rgb(250,250,250);
	cursor:pointer;
}

.back-button:active {
	text-decoration: none;
}
.back-button:visited {
	text-decoration: none;
}

.photo-page-head {
	float: right;
	margin-right:8%;
}

.web-page-head {
	width: 230px;
	float: left;
	margin-left: 8%;
}

.web-page p {
	text-align: right;
}

.web-page .page-head-text {
	padding-right: 40px;
}

.page-head-text {
	margin:0px;
	color: rgb(150,150,150);
}

@media only screen and (max-width: 1000px) {
	.photo-page-head, .web-page-head {
		float:none;
	}
	.page-head {
		margin: auto;
	}
}

.social-container-page {
	padding-left: 20px;
}

.social-container-web {
	padding-left: 0px;
}


.link-underline {
	text-decoration: none;
	color: inherit;
}

.link-underline:hover {
	text-decoration: underline;
}

.link-no-underline {
	text-decoration: none;
	color:inherit;
}

.link-no-underline:hover {
	text-decoration: none;