body {
	font-family: Helvetica;
	letter-spacing: -2px;
	font-weight: 100;
}

.header {
	font-size: 80px;
	margin:0px;
}

.title {
	margin-bottom: 50px;
}

.underline {
	font-size: 8px;
	margin:0px;
}

.main-text {
	width: 50%;
	text-align: center;
	margin:auto;
	margin-top: 200px;
}

.change {
	text-decoration: underline;
}

.change:hover {
	cursor: pointer;
}