body {
	font-family: Helvetica;
	letter-spacing: -2px;
	font-weight: 100;
}

.header {
	font-size: 80px;
	margin:0px;
}

.title {
	margin-bottom: 50px;
	position: fixed;
	top: 0px;
	padding-top: 80px;
	width: 100%;
	z-index: 1000;
	background-color: rgb(100,100,100);
}

.underline {
	font-size: 8px;
	margin:0px;
}

.link-list {
	margin-top: 200px;
}

.main-text {
	width: 80%;
	//text-align: center;
	margin-left:20%;
	margin-top: 100px;
}

.change {
	text-decoration: underline;
}

.change:hover {
	cursor: pointer;
}

@media screen and (max-width: 900px){
	.header {
		font-size: 24px;
	}
}