ul {
	text-decoration: none;
	font-size: 110px;
	margin-top: 40px;
}

p {
	font-size: 20px;
	margin:0px;
	padding-left: 50px;
	color: rgb(200,200,200);
}

.title {
	margin-top: 60px;
}

li {
	display: inline;
}

a {
	color: rgb(100,200,200);
}

a:hover {
	color: rgb(100,100,200);		
}
