body {
	background-color: rgb(250,170,100);
}

.header {
	font-size: 80px;
	margin:0px;
}

.underline {
	font-size: 8px;
	margin:0px;
}

.main-text {
	width: 50%;
	text-align: center;
	margin:auto;
	margin-top: 200px;
}

.link {
	color: rgb(20, 100, 50);
}