/* Page Styles */

body {
	background-color: white;
}

p {
	font-family: 'Source Code Pro';
	font-weight: 400;
	font-size:14px;
	color: rgb(150,150,150);
}

.page-head {
	width: 250px;
	position: fixed;
	margin-top:75px;
}
/*
.underline {
	border-bottom: 3px solid rgb(150,150,150);
	width: 100%;
}*/

.margin-bottom {
	margin-bottom: 30px;
}

.back-button {
	width: 100%;
	height:35px;
	text-align: center;
	font-family: "Source Code Pro";
	font-size: 13px;
	margin-top: 10px;
	padding-top:15px;
	color: rgb(150,150,150);
	text-decoration: none;
	transition: all .3s;
}

.back-button:hover{
	background-color: rgb(150,150,150);
	color: rgb(250,250,250);
	cursor:pointer;
}

.back-button:active {
	text-decoration: none;
}
.back-button:visited {
	text-decoration: none;
}

.photo-page-head {
	margin-left: calc(92% - 220px);
}

.web-page-head {
	width: 230px;
	margin-left: 8%;
}

.web-page .page-head-text {
	padding-right: 40px;
}

.page-head-text {
	margin:0px;
	color: rgb(150,150,150);
}


.social-container-page {
	padding-left: 20px;
}

.social-container-web {
	padding-left: 0px;
	padding-right: 20px;
	padding-top: 10px;
}


.link-underline {
	text-decoration: none;
	color: inherit;
}

.link-underline:hover {
	text-decoration: underline;
}

.link-no-underline {
	text-decoration: none;
	color:inherit;
}

.link-no-underline:hover {
	text-decoration: none;
}

.link {
	color: rgb(50,150,250);
	text-decoration: none;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.social-container-home {
	padding-left: 65px;
}

.social, .social-small {
	height: 40px;
	width: auto;
	margin:0px;
	opacity: .4;
	transition: .8s;
}

.social-small {
	height: 35px;
}

.social:hover, .social-small:hover {
	opacity: .7;
}

.big-link-text {
	font-family: "Source Code Pro";
	font-size: 80px;
	font-weight: 300;
}

.page-content {
	width: 700px;
	display: inline-block;
	margin-top: 115px;
}

/* Photo Page Style */

.photo-page-content {
	float: right;
	margin-right: 400px;
	margin-top: 100px;
	width:700px;
}

.gallery-pic {
	width: 700px;
	height: auto;
	margin-bottom: 40px;
}

.fader {
	opacity: 0;
}



/* Web Page Style */

.web-page-content {
	margin-left: calc(230px + 15%);
}

.project-title {
	width: 100%;
	font-size: 26px;
	font-weight: 400;
	letter-spacing: -.5px;
	padding-bottom: 10px;
	/*border-bottom: 3px solid rgb(150,150,150);*/
	margin-bottom: 5px;
	font-family: "Source Code Pro";
	color: #696868;
}

.project-title span {
	float: right;
}

.project {
	margin-bottom: 80px;
}

.project-1-img {
	height: 400px;
	width: auto;
}

.project-2-img {
	height: 600px;
	width: auto;
}

.project-3-img {
	height: 600px;
	width: auto;
	margin-left: 25%;
}

.project-img-full {
	width: 100%;
}

.sub-title {
	color: #696868;
	text-decoration: underline;
}

.expanded {
	display: none;
	-webkit-transition: display .5s; /* Safari */
  transition: display .5s;
}

.page-info-text-sm {
	font-size: 12px;
}

/* mobile styles */

@media only screen and (max-width: 1100px) {

	.page-head {
		width: 80%;

		position: absolute;
		margin-left: 10%;
	}

	.page-head .page-info-text {
		font-size: 30px;
	}

	.page-head .project-title {
		font-size: 38px;
	}



	.menu {
		display: none;
	}

	.web-page .page-info-text, .photo-page .page-info-text {
		text-align: center;
	}

	.page-content {
		margin-top: 380px;
		width: 80%;
		margin-left: 10%;
	}

	.page-content p {
		margin-bottom: 40px;
	}

	.photo-page-content {
		float: none;
		margin-right: 0px;
		//margin-left: 0px;
	}

	.project-title {
		/*font-size: 24px;*/
	}

	.project-title span {
		display: none;
	}

	.project-3-img {
		margin-left: 5%;
	}

	.gallery-pic {
		width: 100%;
		height: auto;
	}
 }
