


body.reddit h1{

	margin-bottom: 1px;
	font-weight: 400;
	font: normal x-small verdana,arial,helvetica,sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
	color: #551a8b;
}

body.reddit .text{
	padding: 5px 10px;
	background-color: #fafafa;
	border: 1px solid #369;
	border-radius: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 400;
	max-width: 60em;
	color: #222222;
}

body.reddit p{

	margin-top: 0.35714285714285715em;
	margin-bottom: 0.7em;
	font-weight: 400;
	font: normal x-small verdana,arial,helvetica,sans-serif;
	font-size: .9em;
	line-height: 1.4em;
}

body.reddit h2{

	margin-bottom: 2px;
	margin-top: 2px;
	font-weight: 400;
	font: normal x-small verdana,arial,helvetica,sans-serif;
	font-size: x-small;
	line-height: 1.4em;
	color: #888;
}

body.reddit .container{
	border-color: #E1F1FA!important;
	margin: 20px 20px 20px 20px!important;
	border: 1px solid #fdfdfd!important;
	background-color: #fdfdfd;
	-moz-border-radius: 16px!important;
	-webkit-border-radius: 16px!important;
	-moz-border-radius: 16px!important;
	-webkit-border-radius: 16px!important;
	padding-left: 16px;
	padding-top: 2px;
}

body.reddit {
	background-color: #b4cfd8;
margin: 0 auto!important;
}

