html { 
  background: url(../images/bg19.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-size: 30px;
	font-family: "Avenir";
	color: white;
}

.title {
	float: right;
	text-align: right;
	margin-bottom: 100px;
}

p {
	clear: both;
}

.cover {
}

.c-title {
	font-size: 100px;
	text-align: center;

}
.c-title h1 {
	margin-bottom: 0px;
}

.c-title p {
	margin-top: 0px;
	font-size: 70px;
}

.box {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: white;
	transition: .1s;
}

.box:hover {
	cursor: pointer;
	width: 100px;
	height: 100px;
}