html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p {
	width: 50vw;
	display: inline-block;
	vertical-align: top;
	margin-right: 50vw;
	margin-top: 200px;
	font-size: 28px;
}

.header {
	position: fixed;
	margin:0px;
}

.header p {
	margin: 0px;
}

body {
	font-family: avenir;
	padding-left: 50px;
	width: 20000px;
	overflow: y-scroll;
}

.scroll {
	width: 150px;
	text-align: center;
	padding: 20px;
	border: 8px solid rgb(200,100,200);
	position: fixed;
	top: 30px;
	right: 30px;
}

.inverse {
	border: 8px solid white;
	color: white;
}

.scroll:hover {
	cursor: pointer;
	background-color: rgb(200,100,200);
	color: white;
}

.cover {
	background-color: rgb(200,100,200);
}

.inverse:hover {
	background-color: white;
	color: rgb(200,100,200);
}